{% extends 'nav_buttons_thin.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='css_course_2.css') }}">

{% endblock %}


{% block content %}

  <h2>css course page 2 - selectors, tag, class, id, inline. pseudo selectors hover, link, visited, decentdents etc <a href='https://youtu.be/1Rs2ND1ryYc'>upto 2h 4min</a></h2>
    <a href="http://www.ferdiesfoodlab.co.uk/">Social Banquets will RETURN Huar har har!</a>

    <div class='master' style='display: flex'>
        <p id='top-text'>Styling priority</p>
        <br>
        <div class="div-1">
            <p>.div-1:hover</p>
        </div>

        <div class="div-2">
            <p>B2</p>
        </div>

        <div class="div-3" id="id-div-3">
            <p>C3</p>
        </div>

        <div id="id-div-4">
            <p>D4</p>
        </div>

    </div>
    <h2><a href='https://www.w3schools.com/css/css_pseudo_classes.asp'>List of pseudo classes - add some examples . . </a></h2>
    <div>
        div last child
    </div>
    <br>
    <table>
      <tr>
        <th>Movie</th>
        <th>Rating</th>
        <th>Actors</th>
        <th>Budget</th>
      </tr>
      <tr>
        <td>Leviathon</td>
        <td>4</td>
        <td><li>BM</li><li>AF</li><li>LK</li></td>
        <td><table><tr><th>Cat</th><th>Cost</th></tr><tr><td>CGI</td><td>$900</td></tr><tr><td>Live</td><td>$180</td></tr></table></td>
      </tr>
      <tr>
        <td>Gulpman</td>
        <td>5</td>
        <td><li>PM</li><li>MZ</li><li>PL</li></td>
        <td><table><tr><th>Cat</th><th>Cost</th></tr><tr><td>CGI</td><td>$9</td></tr><tr><td>Live</td><td>$0</td></tr></table></td>
      </tr>
    </table>
    <br>

    <p>id='gallery2' a div of spans</p>
    <div id='span-gallery'>
        <span class="span-gal-img sf">     <image src="/static/covers/Badlands_movie_poster.jpg"></image> </span>
        <span class="span-gal-img ad">     <image src="/static/covers/Tolkien_film_promotional_poster.jpg"></image> </span>
        <span class="span-gal-img ad">     <image src="/static/covers/Touki_Bouki_cover.jpg"></image> </span>
        <span class="span-gal-img sf">     <image src="/static/covers/The_Wicker_Man_(1973_film)_UK_poster.jpg"></image> </span>
        <span class="span-gal-img ad">     <image src="/static/covers/Zama_(2017_film).png"></image> </span>
        <span class="span-gal-img ad">     <image src="/static/covers/War_Dogs_2016_poster.jpg"></image> </span>
        <span class="span-gal-img fa">     <image src="/static/covers/Megamind2010Poster.jpg"></image> </span>
        <span class="span-gal-img fa">     <image src="/static/covers/Matrix_revolutions_ver7.jpg"></image> </span>
        <span class="span-gal-img sf">     <image src="/static/covers/LoveAndMonstersPoster.jpeg"></image> </span>
        <span class="span-gal-img dr">     <image src="/static/covers/LeMans.jpg"></image> </span>
        <span class="span-gal-img dr">     <image src="/static/covers/Highlander_1986,poster.jpg"></image> </span>
        <span class="span-gal-img dr">     <image src="/static/covers/Greenland_(film).png"></image> </span>
        <span class="span-gal-img doc">    <image src="/static/covers/Frequencies_(film)_poster.jpg"></image> </span>
        <span class="span-gal-img dr">     <image src="/static/covers/Banking_on_Bitcoin.png"></image> </span>
        <span class="span-gal-img sf">     <image src="/static/covers/Borat_2_poster.jpeg"></image> </span>
        <span class="span-gal-img dr">     <image src="/static/covers/CrawlMoviePoster.jpg"></image> </span>
        <span class="span-gal-img com">    <image src="/static/covers/Greyhound_poster.jpeg"></image> </span>
        <span class="span-gal-img com">    <image src="/static/covers/Honest_Thief_poster.jpg"></image> </span>
    </div>

    <p>id='gallery a div of divs'</p>
    <!--style='display: inline-block'-->
    <div id='div-gallery'>
        <div class="div-gal-img sf" >     <image src="/static/covers/Relic_poster.jpeg"></image> </div>
        <div class="div-gal-img sf" >     <image src="/static/covers/Peninsula_poster.jpg"></image> </div>
        <div class="div-gal-img ad" >     <image src="/static/covers/Interstellar_film_poster.jpg"></image> </div>
        <div class="div-gal-img sf" >     <image src="/static/covers/Kamera-o-tomeru-na-japanese-movie-poster-md.jpg"></image> </div>
        <div class="div-gal-img ad" >     <image src="/static/covers/Mulan_(2020_film)_poster.jpg"></image> </div>
    </div>


    <div>
        div last child
    </div>

    <div id='div-grad' style="position: relative; float: right">  inline
      id='div-grad'
    </div>
    <br><br>
    <!--box div with inner positions boxes-->
    <!--https://www.encodedna.com/css-tutorials/float-right-using-position-absolute-css.htm-->
    <div style="width:auto;
          height:100px;
          background:#CCFF33;
          padding:10px;
          margin: 20px 50px;
          position:relative;">

      Parent Container

      <div style="padding:20px 0; background:#bcd674;">
          This is the second element
      </div>

      <div style="width:70px;
            height:auto;
            background:#c6eb23;
            color:#888;
            padding:5px 2px;
            /*margin: 5px 5px;*/
            outline: 1px solid #888888; /*use outline not border: 3px;*/
            text-align:center;
            top:5px;
            position:absolute;
            right:5px;">
            <!-- changing top or right to anything other than 0 (to move box out a little) produces odd results-->
            <!--need to use px % or em with the number eg: 5px, 5em, 5% not 5 on its own!-->
            <!--Opt 2: use margin to move box in a little-->
            <!--effect of right (left, top, bottom) depends on valu of position-->
            <!--https://developer.mozilla.org/en-US/docs/Web/CSS/right see description-->
          MENU
      </div>

      <div style="width:70px;
            height:auto;
            background:#f0e932;
            color:#444;
            padding:5px 2px;
            /*margin: 5px 5px;*/
            outline: 1px solid #888888; /*use outline not border: 3px;*/
            text-align:center;
            bottom: -10px;
            position:absolute;
            right:-10px;">
            <!-- changing top or right to anything other than 0 (to move box out a little) produces odd results-->
            <!--need to use px % or em with the number eg: 5px, 5em, 5% not 5 on its own!-->
            <!--Opt 2: use margin to move box in a little-->
          NO
      </div>
      <div style="width:70px;
            height:auto;
            background:#f0e932;
            color:#444;
            padding:5px 2px;
            /*margin: 5px 5px;*/
            outline: 1px solid #888888; /*use outline not border: 3px;*/
            text-align:center;
            bottom: -10px;
            position:absolute;
            left:-10px;">
            <!-- changing top or right to anything other than 0 (to move box out a little) produces odd results-->
            <!--need to use px % or em with the number eg: 5px, 5em, 5% not 5 on its own!-->
            <!--Opt 2: use margin to move box in a little-->
          YES
      </div>
    </div>
    <!--box div with inner positions boxes broken out into CSS -->
    <!--https://www.encodedna.com/css-tutorials/float-right-using-position-absolute-css.htm-->
    <br>
    <p>STYLE moved into CSS</p>
    <div class='qbox-yn-par'>
      Parent Container

      <div style="padding:20px 0; background:#bcd674;">
          This is the second element
      </div>

      <div class="qbox-yn-menu">
          MENU
      </div>

      <div class='qbox-yn no'>
          NO
      </div>
      <div class='qbox-yn yes'>
          YES
      </div>
      <br>
    </div>

    <br>
    <p>On inside th other</p>
    <div class='qbox-yn-par'>
      Parent Container

      <div style="padding:20px 0; background:#bcd674;">
          This is the second element
      </div>

      <div class="qbox-yn-menu">
          MENU
      </div>

      <div class='qbox-yn no'>
          NO
      </div>
      <div class='qbox-yn yes'>
          YES
      </div>

      <div class='qbox-yn-par'>
        SUB Parent Container

        <div style="padding:20px 0; background:#bcd674;">
            This is the second element
        </div>

        <div class="qbox-yn-menu">
            MENU
        </div>

        <div class='qbox-yn no'>
            NO
        </div>
        <div class='qbox-yn yes'>
            YES
        </div>
      </div>

    </div>



{% endblock %}
